.fade-in {
  @apply opacity-0 transition-opacity duration-500 ease-in;
}

.fade-out {
  @apply opacity-100 transition-opacity duration-500 ease-out;
}

  
  /* Tambahkan aturan CSS berikut untuk memastikan gambar menutupi satu layar */
  .hero-background {
    background-size: cover; /* Menutupi seluruh area */
    background-position: center; /* Memusatkan gambar */
    background-repeat: no-repeat; /* Tidak mengulang gambar */
  }
  